<div id="main" th:fragment="header">

  <div class="top1_wrapper">
    <div class="container">
      <div class="top1 clearfix">
        <div class="email1"><a href="#">support@travelagency.com</a></div>
        <div class="phone1">+917 3386831</div>
        <div class="social_wrapper">
          <ul class="social clearfix">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
          </ul>
        </div>
        <div class="lang1">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">English<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a class="ge" href="#">German</a></li>
              <li><a class="ru" href="#">Russian</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top2_wrapper">
    <div class="container">
      <div class="top2 clearfix">
        <header>
          <div class="logo_wrapper">
            <a th:href="@{/}" class="logo">
              <img src="images/logo.png" alt="" class="img-responsive">
            </a>
          </div>
        </header>
        <div class="navbar navbar_ navbar-default">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse navbar-collapse_ collapse">
            <ul class="nav navbar-nav sf-menu clearfix">
              <li ><a th:href="@{/}">Home<em></em></a>
              </li>
              <li><a th:href="@{/aboutpage}" >About Us</a></li>
              <li><a th:href="@{/gallerypage}" >gallery</a></li>

              <li><a th:href="@{/book-package}" >Book Packages<em></em></a>

              </li>


              <li><a th:href="@{/ContactUs}">Contacts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
